/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };

    behaviors {
        left_hrm: left_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            require-prior-idle-ms = <200>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 21 10 11 23 22 34 35 49 48 33 47 59 58 46 32 19 20 30 18 31 45 44 43 55 56 57>;
        };

        right_hrm: right_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            require-prior-idle-ms = <200>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&none  &kp N1                &kp N2                &kp N3             &kp N4                  &kp N5                                                  &kp N6        &kp N7                    &kp N8              &kp N9                  &kp N0                  &none
&none  &kp Q                 &kp W                 &kp F              &kp P                   &kp B                                                   &kp J         &kp L                     &kp U               &kp Y                   &kp SEMI                &none
&none  &left_hrm LEFT_WIN A  &left_hrm LEFT_ALT R  &left_hrm LCTRL S  &left_hrm LEFT_SHIFT T  &kp G                                                   &kp M         &right_hrm RIGHT_SHIFT N  &right_hrm RCTRL E  &right_hrm RIGHT_ALT I  &right_hrm RIGHT_GUI O  &none
&none  &kp Z                 &kp X                 &kp C              &kp D                   &kp V      &kp C_MUTE     &none                         &kp K         &kp H                     &kp COMMA           &kp DOT                 &kp FSLH                &none
                             &kp LGUI              &kp LALT           &kp LCTRL               &lt 1 TAB  &lt 3 ENTER    &right_hrm RIGHT_SHIFT SPACE  &lt 2 ESCAPE  &kp RCTRL                 &kp RALT            &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            label = "lower";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&none  &none                     &none                         &none                         &none                               &none                      &none      &none                            &none                      &none                          &none                       &none
&none  &kp TILDE                 &kp PIPE                      &kp LEFT_BRACE                &kp RIGHT_BRACE                     &kp DQT                    &kp EQUAL  &kp N7                           &kp N8                     &kp N9                         &kp UNDERSCORE              &none
&none  &left_hrm LEFT_GUI GRAVE  &left_hrm LEFT_ALT BACKSLASH  &left_hrm LCTRL LEFT_BRACKET  &left_hrm LEFT_SHIFT RIGHT_BRACKET  &kp SQT                    &kp PLUS   &right_hrm RIGHT_SHIFT NUMBER_4  &right_hrm RCTRL NUMBER_5  &right_hrm RIGHT_ALT NUMBER_6  &right_hrm RIGHT_GUI MINUS  &none
&none  &none                     &none                         &kp LEFT_PARENTHESIS          &kp RIGHT_PARENTHESIS               &none    &trans    &trans  &kp N0     &kp NUMBER_1                     &kp NUMBER_2               &kp NUMBER_3                   &kp PERIOD                  &none
                                 &trans                        &trans                        &trans                              &trans   &trans    &trans  &trans     &trans                           &trans                     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            label = "raise";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&none  &none  &none   &none   &none   &none                     &none      &none     &none     &none      &none          &none
&none  &none  &none   &none   &none   &none                     &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp DELETE     &none
&none  &none  &none   &none   &none   &none                     &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp BACKSPACE  &none
&none  &none  &none   &none   &none   &none   &trans    &trans  &none      &none     &none     &none      &none          &trans
              &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        functional {
            bindings = <
&none  &none   &none         &none        &none       &none                     &none   &none            &none              &none   &none    &none
&none  &kp F1  &kp F2        &kp F3       &kp F4      &kp F5                    &kp F6  &kp F7           &kp F8             &kp F9  &kp F10  &none
&none  &none   &kp CAPSLOCK  &kp ESC      &kp TAB     &none                     &none   &kp PRINTSCREEN  &kp C_VOL_UP       &none   &kp F11  &none
&none  &none   &kp C_PREV    &kp C_PAUSE  &kp C_NEXT  &none   &none     &none   &none   &none            &kp C_VOLUME_DOWN  &none   &kp F12  &none
               &none         &none        &none       &trans  &trans    &trans  &trans  &none            &none              &none
            >;
        };

        adjust_layer {
            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            label = "adjust";
            bindings = <
&none  &none           &none         &none         &none         &none                         &none  &none  &none  &none  &none  &none
&none  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &none  &none  &none  &none  &none  &none
&none  &bt BT_CLR      &none         &none         &none         &none                         &none  &none  &none  &none  &none  &none
&none  &bt BT_CLR_ALL  &none         &none         &none         &none         &none    &none  &none  &none  &none  &none  &none  &none
                       &none         &none         &none         &none         &none    &none  &none  &none  &none  &none
            >;
        };
    };
};
